<configuration>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener"/>
    <appender name="SystemWarn" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%yellow(%-5level [%d{yyyy-MM-dd HH:mm}] %-13logger{0}: %msg) %n</pattern>
        </encoder>
    </appender>
    <appender name="SystemInfo" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%blue(%-5level [%d{yyyy-MM-dd HH:mm}] %-12logger{0}: %msg) %n</pattern>
        </encoder>
    </appender>
    <appender name="SystemTrace" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>TRACE</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%blue(%-5level [%d{yyyy-MM-dd HH:mm}] %-12logger{0}: %msg) %n</pattern>
        </encoder>
    </appender>
    <appender name="SystemDebug" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%cyan(%-5level [%d{yyyy-MM-dd HH:mm}] %-12logger{0}: %msg) %n</pattern>
        </encoder>
    </appender>
    <appender name="SystemError" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%red(%-5level [%d{yyyy-MM-dd HH:mm}] %-12logger{0}: %msg) %n</pattern>
        </encoder>
    </appender>
    <appender name="FileLog" class="ch.qos.logback.core.FileAppender">
        <immediateFlush>true</immediateFlush>
        <file>aether.log</file>
        <append>true</append>
        <encoder>
            <pattern>%-5level [%d{yyyy-MM-dd HH:mm}] %-12logger{0}: %msg %n</pattern>
        </encoder>
    </appender>
    <logger name="io.aether" level="trace">
        <appender-ref ref="SystemTrace"/>
        <appender-ref ref="SystemInfo"/>
        <appender-ref ref="SystemDebug"/>
        <appender-ref ref="SystemWarn"/>
        <appender-ref ref="SystemError"/>
        <appender-ref ref="FileLog"/>
    </logger>
    <root level="error">
        <appender-ref ref="SystemTrace"/>
        <appender-ref ref="SystemInfo"/>
        <appender-ref ref="SystemDebug"/>
        <appender-ref ref="SystemWarn"/>
        <appender-ref ref="SystemError"/>
        <appender-ref ref="FileLog"/>
    </root>
</configuration>